<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>SmartConnect</title>
  </head>
  <body>
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="text-center w-50">
        <h1 class="font-weight-bold mb-5">SmartConnect</h1>
        <p>
          SmartConnect is a cutting-edge contact management system designed to
          streamline and simplify the way you manage your personal and
          professional contacts. With a focus on efficiency, organization, and
          user-friendly design, SmartConnect ensures that all your essential
          contact information is easily accessible, well-organized, and secure.
        </p>

        <p>
          Whether you're a busy professional needing to keep track of business
          contacts or someone who wants to manage personal connections better,
          SmartConnect offers the perfect solution. The application provides
          powerful features like advanced search, categorization, tagging, and
          integration with popular email and social media platforms.
        </p>
      </div>
    </section>
  </body>
</html>
